@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto';
}
header {
    background-color: #0d6efd;
    color: #fff;
    flex: none;
    padding: 20px;
}
footer {
    background-color: #6c757d;
    color: #fff;
    flex: none;
    padding: 20px;
}
main {
    flex: auto;
    padding: 20px;
}
.active a {
    font-weight: bold;
}
.links-menu {
    margin-bottom: 0;
}
.links-menu a {
    color: #cfe2ff;
    text-decoration: none;
    text-transform: uppercase;
}
.links-menu a:hover {
    color: #fff;
    text-decoration: underline;
}
tfoot > tr:last-child > th {
    border-bottom-width: 0;
}
.navbar-collapse {
    margin-top: 20px;
}
.gridrow {
    margin-bottom: var(--bs-gutter-x);
    align-items: stretch;
}
.gridrow > * {
    padding-bottom: var(--bs-gutter-x);
}
.gridrow .card {
    height: 100%;
}
.gridrow .card-body {
    display: flex;
    flex-direction: column;
}
.gridrow .card-text {
    flex: auto;
}
.invalid-feedback.nonfield {
    display: block;
}



@media (min-width: 992px) {
    .navbar-collapse {
        margin-top: 0;
    }
}


